    body {
      height: 100%;
      font-weight: bolder;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;

    }

    .container2 {
      border: 1px solid black;
      color: white;
      width: 400px;
      padding: 10px;
      background-color: #222; 
      border-radius: 8px;
    }

    table {
      width: 100%;
      table-layout: fixed;
    }

    button {
      width: 100%;
      height: 70px;
      font-size: 24px;
      font-weight: bold;
      border-radius: 6px;
    }

    input {
      width: 98%;
      height: 80px;
      margin-bottom: 8px;
      font-size: 32px;
    }

    .background-merah { background-color: red; color: white;}
    .background-biru {background-color: blue; color: white;}
    .background-oren {background-color: orange;}
    .background-hitam {background-color: black; color: white;}
    .background-hijau {background-color: green; color: white;}